<div id="index-banner">
  <div class="section no-pad-bot">
    <div class="container-image">
      <br><br>
      <div class="titlebox">
        <h1 class="header center text-black"> Workout Planner
        </h1>
        <div class="row center">
          <h5 class="header col s12 light">Discover new workouts and save them to your dashboard to create your
            personalized workout plan. </h5>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>

{{!-- cards --}}

<div class="container">
  <div class="row cardblock">
    <div class="col m3">
      <div class="card medium">
        <div class="card-image">
          <img src="/stylesheets/images/strength.jpg">
          <span class="card-title">Strength Training</span>
        </div>
        <div class="card-content">
          <p> Build strength and endurance with our strength training classes. </p>
        </div>
        <div class="card-action" id="strength">
          <a href="/strength-training">Explore Classes</a>
        </div>
      </div>
    </div>
    <div class="col m3">
      <div class="card medium">
        <div class="card-image">
          <img src="/stylesheets/images/cardio.jpg">
          <span class="card-title">Cardio</span>
        </div>
        <div class="card-content">
          <p> Get your heart rate up in one of our cardio classes. </p>
        </div>
        <div class="card-action" id="cardio">
          <a href="/cardio">Explore Classes</a>
        </div>
      </div>
    </div>
    <div class="col m3">
      <div class="card medium">
        <div class="card-image">
          <img src="/stylesheets/images/core.png.jpg">
          <span class="card-title">Core Conditioning</span>
        </div>
        <div class="card-content">
          <p> Build your core muscle groups and improve flexibility in our core conditioning classes. </p>
        </div>
        <div class="card-action" id="core">
          <a href="/core-conditioning">Explore Classes</a>
        </div>
      </div>
    </div>
    <div class="col m3">
      <div class="card medium">
        <div class="card-image">
          <img src="/stylesheets/images/toning.jpg">
          <span class="card-title">Toning</span>
        </div>
        <div class="card-content">
          <p> Improve balance, coordination, and strength with our toning classes. </p>
        </div>
        <div class="card-action" id="toning">
          <a href="/toning">Explore Classes</a>
        </div>
      </div>
    </div>
  </div>
</div>