<div id="index-banner">
  <div class="section no-pad-bot">
    <div class="container-image">
      <br><br>
      <h1 class="header center text-black"> WORKOUT PLANNER
      </h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <br><br>
    </div>
  </div>
</div>

{{!-- cards --}}

<div class="container">
  <div class="row cardblock">
    <div class="col m3">
      <div class="card small">
        <div class="card-image">
          <img src="/stylesheets/images/strengthtraining.jpg">
          <span class="card-title">Strength Training</span>
        </div>
        <div class="card-content">
          <p> This is text describing strength training classes. </p>
        </div>
        <div class="card-action" id="strength">
          <a href="/explore-strength-classes">Explore Classes</a>
        </div>
      </div>
    </div>
    <div class="col m3">
      <div class="card small">
        <div class="card-image">
          <img src="/stylesheets/images/strengthtraining.jpg">
          <span class="card-title">Cardio</span>
        </div>
        <div class="card-content">
          <p> This is text describing cardio classes. </p>
        </div>
        <div class="card-action" id="cardio">
          <a href="/explore-cardio-classes">Explore Classes</a>
        </div>
      </div>
    </div>
    <div class="col m3">
      <div class="card small">
        <div class="card-image">
          <img src="/stylesheets/images/strengthtraining.jpg">
          <span class="card-title">Core Conditioning</span>
        </div>
        <div class="card-content">
          <p> This is text describing core conditioning classes. </p>
        </div>
        <div class="card-action" id="core">
          <a href="/explore-core-classes">Explore Classes</a>
        </div>
      </div>
    </div>
    <div class="col m3">
      <div class="card small">
        <div class="card-image">
          <img src="/stylesheets/images/strengthtraining.jpg">
          <span class="card-title">Toning</span>
        </div>
        <div class="card-content">
          <p> This is text describing toning classes. </p>
        </div>
        <div class="card-action" id="toning">
          <a href="/explore-toning-classes">Explore Classes</a>
        </div>
      </div>
    </div>
  </div>
</div>