<section class="container">
  <h2>Create New Plan</h2>

  <form class="new-plan-form">
    <div>
      <label for="plan-title">Title</label>
      <input type="text" id="plan-title" name="plan-title" />
    </div>

    <!-- Category Name drop-down box -->
    <div>
      <label for="category-name">Category Name</label>
      <select id="category-name" name="category-name">
        <option>Choose a Category</option>
        <option>Strength Training</option>
        <option>Cardio</option>
        <option>Core Conditioning</option>
        <option>Toning</option>
      </select>
    </div>
    <!-- Class Name drop-down box -->
    <div>
      <label for="class-name">Class Name</label>
      <select id="class-name" name="class-name">
        <option>Choose a Class</option>
        <option>30 minute Pump</option>
        <option>30 minute Circuit</option>
        <option>30 minute HIIT</option>
        <option>30 minute Step</option>
        <option>30 minute Spin</option>
        <option>30 minute Zumba</option>
        <option>30 minute Combat</option>
        <option>30 minute Worx</option>
        <option>30 minute Barre</option>
        <option>30 minute Yoga</option>
        <option>30 minute Pilates</option>
        <option>60 minute Pump</option>
        <option>60 minute Circuit</option>
        <option>60 minute HIIT</option>
        <option>60 minute Step</option>
        <option>60 minute Spin</option>
        <option>60 minute Zumba</option>
        <option>60 minute Combat</option>
        <option>60 minute Worx</option>
        <option>60 minute Barre</option>
        <option>60 minute Yoga</option>
        <option>60 minute Pilates</option>
      </select>
    </div>
    <button type="submit" class="btn">Submit New Plan</button>
  </form>
  <br></br>
</section>

<script src="/javascript/add-plan.js"></script>