
<section>
  <h2>Create New Plan</h2>

  <form class="new-plan-form">
    <div>
      <label for="plan-title">Title</label>
      <input type="text" id="plan-title" name="plan-title" />
    </div>
    <div>
      <label for="category-name">Category Name</label>
      <input id="category-name" name="category-name" /> 
  
    </div>
     <div>
      <label for="class-name">Class Name</label>
      <input id="class-name" name="class-name" />
    </div>
    <button type="submit" class="btn">Submit New Plan</button>
  </form> 

</section>
<script src = "/javascript/add-plan.js"></script>

<script src="../public/javascript/add-plan.js"></script>