<section class="container">
  <h2>Create Your New Workout Plan</h2>
  <div class="row new-plan-form">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="workout_plan_title" type="text" class="validate">
          <label class="active" for="workout_plan_title">Title of Workout Plan</label>
        </div>
        <div class="input-field col s6">
          <input id="category_name" type="text" class="validate">
          <label class="active" for="category_name">Category Name</label>
        </div>
        <div class="input-field col s6">
          <input id="class_name" type="text" class="validate">
          <label class="active" for="class_name">Class Name</label>
        </div>
      </div>
    </form>
  </div>
</section>

<script src="../public/javascript/add-plan.js"></script>