<div id="index-banner">
  <div class="section no-pad-bot">
    <div class="container-image">
      <br><br>
      <h1 class="header center text-black"> Strength Training
      </h1>
      <div class="row center">
        <h5 class="header col s12 light">Find a Strength Training class below and save it to your dashboard.</h5>
        <button>
          <a href="/dashboard" class="waves-effect waves-light btn">Visit Your Dashboard</a>
        </button>
      </div>
      <br><br>
    </div>
  </div>
</div>


{{!-- rach design --}}
{{#if classes.length}}
<section class='container'>
  {{#each classes as |class|}}
  <div class="row">
    <div class="col s6">
      <div class="card white darken-1">
        <div class="card-content">
          <span class="card-title">{{class_name}} </span>
          <label>
            <input type="checkbox" />
            <span>Add to plan</span>
          </label>
        </div>
      </div>
    </div>
    {{/each}}
</section>

{{else}}
<br>
<!--if no plans yet, tell user-->
<h3>No current classes in this category</h3>
{{/if}}

<script src="/strength-training.js"></script>