<div id="index-banner">
    <div class="section no-pad-bot">
        <div class="container-image">
            <br><br>
            <h1 class="header center text-black"> Toning
            </h1>
            <div class="row center">
                <h5 class="header col s12 light">Find a toning class below and save it to your dashboard.</h5>
            </div>
            <br><br>
        </div>
    </div>
</div>