<div id="index-banner">
  <div class="section no-pad-bot">
    <div class="container-image">
      <br><br>
      <h1 class="header center text-black"> Toning
      </h1>
      <div class="row center">
        <h5 class="header col s12 light">Find a Toning class below and save it to your dashboard.</h5>
      </div>
      <br><br>
    </div>
  </div>
</div>

{{!-- plans --}}
{{#if classes.length}}
<ul class="collection">
    {{#each classes as |class|}}
    <li class="collection-item avatar">
        <i class="material-icons circle">event</i>
        <span>
          <p>
              <label>
                <input type="checkbox" />
                <span class = "meta">Class Name:{{class_name}} </span>
                </label>
                </p>
        </span>
     </li>
     {{/each}}
    </ul>


{{else}}
<br>
<!--if no plans yet, tell user-->
<h3>No current classes in this category</h3>
{{/if}}

<script src = "/toning.js"></script>